In [25]:
import pandas as pd
import re
import time
from sqlalchemy import create_engine
import psycopg2
import os
import io
import base64
import json

In [26]:
#credentials
f = open('credentials.json')
credentials = json.load(f)

In [27]:
# Replace the connection details with your PostgreSQL database information
host = credentials[0]['host']
database = credentials[0]['database']
user = credentials[0]['user']
password = credentials[0]['password']


# Step 1: Connect to the PostgreSQL database
connection = psycopg2.connect(
    host=host,
    database=database,
    user=user,
    password=password
)

cursor = connection.cursor()

#sql
sql_query = "select order_id, sale_date, title_product, pieces, price,coupon,coupon_details,discount,delivery_discount,delivery,sales_tax,total_payment,sender,delivery_address from ordered_items "
cursor.execute(sql_query)
order_id_lst = []
sale_date_lst = []
title_lst = []
pieces_lst = []
coupon_lst = []
coupon_details_lst = []
discount_lst = []
delivery_discount_lst = []
delivery_lst = []
sales_tax_lst = []
total_payment_lst = []
sender_lst = []
delivery_address_lst = []

#read data
rows = cursor.fetchall()
for row in rows:
    order_id, sale_date, title_product,pieces, price,coupon,coupon_details,discount,delivery_discount,delivery,sales_tax,total_payment,sender,delivery_address = row
    order_id_lst.append(order_id)
    sale_date_lst.append(sale_date)
    title_lst.append(title_product)
    pieces_lst.append(pieces)
    coupon_lst.append(coupon)
    coupon_details_lst.append(coupon_details)
    discount_lst.append(discount)
    delivery_discount_lst.append(delivery_discount)
    delivery_lst.append(delivery)
    sales_tax_lst.append(sales_tax)
    total_payment_lst.append(total_payment)
    sender_lst.append(sender)
    delivery_address_lst.append(delivery_address)


sql_to_dict = {
    'order_id':order_id_lst,
    'sale_date':sale_date_lst,
    'title':title_lst,
    'pieces':pieces_lst,
    'coupon':coupon_lst,
    'coupon_details':coupon_details_lst,
    'discount':discount_lst,
    'delivery_discount':delivery_discount_lst,
    'delivery':delivery_lst,
    'sales_tax':sales_tax_lst,
    'total_payment':total_payment_lst,
    'sender':sender_lst,
    'delivery_address':delivery_address_lst
}

cursor.close()
connection.close()

In [28]:
df = pd.DataFrame(sql_to_dict)
df[df['order_id']==2690284881]

,order_id,sale_date,title,pieces,coupon,coupon_details,discount,delivery_discount,delivery,sales_tax,total_payment,sender,delivery_address
6,2690284881,28/11/2022,Weihnachtskugel Weihnachtsmann handgeschnitzt ...,1,WINTERSALE,WINTERSALE - % off,5.1,0.0,0.0,0,16.99,Herr Johannes Bonekamp,Meisenweg 8--%41515 Grevenbroich%Deutschland
7,2690284881,28/11/2022,Weihnachtskugel Weihnachtsmann handgeschnitzt ...,2,no coupon,no coupon,0.0,0.0,0.0,0,33.98,Herr Johannes Bonekamp,Meisenweg 8--%41515 Grevenbroich%Deutschland

In [4]:
df['sort_orders'] = [x[6:]+x[3:5]+x[0:2] for x in df['sale_date']]
df = df[df['sort_orders'] >= '20220901'].copy()
df.head()

,order_id,sale_date,title,pieces,coupon,coupon_details,discount,delivery_discount,delivery,sales_tax,total_payment,sender,delivery_address,sort_orders
0,2638902086,19/10/2022,"Handgeschnitzte peruanische Weihnachtskugeln, ...",1,no coupon,no coupon,0.0,0.0,0.0,0,14.99,Svenja Hasenjaeger,Lange Strase 90--%17489 Greifswald%Deutschland,20221019
1,2634227880,15/10/2022,Alpaka Kinderpullover | Strickpullover | Pullo...,1,no coupon,no coupon,0.0,0.0,0.0,0,44.99,Claudia Kessels-Lemmert,Luettelforst 321--%41366 Schwalmtal%Deutschland,20221015
2,2632869468,14/10/2022,"Handgeschnitzte peruanische Weihnachtskugeln, ...",1,no coupon,no coupon,0.0,0.0,0.0,0,12.99,Gaby Von Ahlen,Ruskastr. 24 B--%77966 Kappel-Grafenhausen%Deu...,20221014
3,2618364437,05/10/2022,Baby Alpaka Schal (100%) | Wollschal | Handgem...,1,no coupon,no coupon,0.0,0.0,0.0,0,69.00,David Harder,Weseler Str. 5--%10318 Berlin%Deutschland,20221005
4,2616162769,03/10/2022,Alpaka Kinderpullover Dinosaurier | Strickpull...,1,no coupon,no coupon,0.0,0.0,0.0,0,42.99,Bodden Ketter Doris,Peel 53A--%41179 Moenchengladbach%Deutschland,20221003

In [5]:
df.drop(columns ='sort_orders',inplace=True)

In [6]:
#billing number
df_b = df[['sale_date','order_id']].copy()
df_b['sort_orders'] = [x[6:]+x[3:5]+x[0:2] for x in df['sale_date']]
df_b['year'] = [ x[6:] for x in df_b['sale_date']]
df_b.drop_duplicates(inplace=True)
df_b['count'] = df_b.groupby('year')['order_id'].rank(method="first", ascending=True)
df_b['count'] = df_b['count'].astype(str)
df_b['billing_number'] = df_b.apply(lambda x: x['sale_date'][6:]+str(10)+str(x['count']), axis=1)
df_b['billing_number'] = [x.replace('.0','') for x in df_b['billing_number']]
df_b
#merge billing numbers to main table
df_w_bc = pd.merge(df,df_b[['order_id','billing_number','sort_orders']],how='left', on='order_id' )
df_w_bc.sort_values(by='sort_orders', ascending =True)

,order_id,sale_date,title,pieces,coupon,coupon_details,discount,delivery_discount,delivery,sales_tax,total_payment,sender,delivery_address,billing_number,sort_orders
37,2596406204,11/09/2022,Alpaka Kinderpullover | Strickpullover | Pullo...,1,no coupon,no coupon,0.0,0.0,0.00,0,42.99,Sabine Goldmann,Am Damm 8A--%50999 Koeln%Deutschland,2022101,20220911
36,2601116001,19/09/2022,Alpaka Kinderpullover | Strickpullover | Pullo...,1,no coupon,no coupon,0.0,0.0,0.00,0,42.99,Henrike Maier,Dudenstrase 11--%10965 Berlin%Deutschland,2022102,20220919
35,2602364599,20/09/2022,Alpaka Kinderpullover | Strickpullover | Pullo...,1,no coupon,no coupon,0.0,0.0,0.00,0,42.99,Nicole Schulenberg,Schleede 22--%26670 Uplengen%Deutschland,2022103,20220920
33,2605435353,23/09/2022,Alpaka Kinderpullover | Strickpullover | Pullo...,1,no coupon,no coupon,0.0,0.0,15.99,0,42.99,Baerbel Richard,Rue De L Eglise 15--%3380 Noertzange%Luxemburg,2022104,20220923
34,2605435353,23/09/2022,Alpaka Kinderpullover Dinosaurier | Strickpull...,1,no coupon,no coupon,0.0,0.0,0.00,0,42.99,Baerbel Richard,Rue De L Eglise 15--%3380 Noertzange%Luxemburg,2022104,20220923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,3274246826,17/04/2024,"Heart pendant from Mexico, colorful Mexican de...",1,no coupon,no coupon,0.0,0.0,0.00,0,17.99,Barbara Steinhardt,Weisdornweg 12--%22393 Hamburg%Germany,20241050,20240417
231,3276224538,19/04/2024,Lama keychain set alpaca fur pendant small gif...,2,no coupon,no coupon,0.0,0.0,0.00,0,15.80,Andreas Richard Baeuml,Eichenhainstrase 19--%94526 Metten%Germany,20241051,20240419
230,3277897906,21/04/2024,Lama keychain set alpaca fur pendant small gif...,1,SUPPORTSMALLBUSINESS,SUPPORTSMALLBUSINESS - % off,0.4,0.0,0.00,0,7.90,Elena Knaup,Martin-Luther-Str.7--%64683 Einhausen%Germany,20241052,20240421
229,3279246792,22/04/2024,Dog collar L 50 cm long neck circumference 40 ...,1,no coupon,no coupon,0.0,0.0,0.00,0,35.99,Denise Heineck,Marienstrase 6--%85055 Ingolstadt%Germany,20241053,20240422
228,3280971970,24/04/2024,"Heart pendant from Mexico, colorful Mexican de...",1,no coupon,no coupon,0.0,0.0,0.00,0,26.99,Stefanie Tamke,Moorwinkel 12--%21255 Tostedt%Germany,20241054,20240424

In [7]:
df_w_bc.drop(columns='sort_orders',inplace=True)

In [8]:
df_w_bc['coupon'].unique()

array(['no coupon', 'WINTERSALE', 'CHRISTMAS10', 'PREXMAS', 'PEACE2023',
       'PULLI23', 'SUPPORTSMALLBUSINESS', 'AUTUMNX', 'BABYCOMEBACK',
       'NEWYEARSSALE23', 'FEB23GF', 'SPRINGWITHGF23', 'SPRINGGF',
       'SOMMER23', 'INTI23', 'NEWYEAR24', 'PILLOW24', 'PULLOVER24',
       'DOG24', 'PERRITO24', 'GLUECKUFUNDGRACIAS'], dtype=object)

In [9]:
#df_w_bc.fillna('--',inplace=True)
df_w_bc['coupon'] = df_w_bc.apply(lambda x: x['coupon']+" - "+str(int(round(x['discount']/x['total_payment'],2)*100))+" %" if x['coupon']!=None and x['coupon_details']!=None  else x['coupon'], axis=1)

In [10]:
df_w_bc

,order_id,sale_date,title,pieces,coupon,coupon_details,discount,delivery_discount,delivery,sales_tax,total_payment,sender,delivery_address,billing_number
0,2638902086,19/10/2022,"Handgeschnitzte peruanische Weihnachtskugeln, ...",1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,14.99,Svenja Hasenjaeger,Lange Strase 90--%17489 Greifswald%Deutschland,20221010
1,2634227880,15/10/2022,Alpaka Kinderpullover | Strickpullover | Pullo...,1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,44.99,Claudia Kessels-Lemmert,Luettelforst 321--%41366 Schwalmtal%Deutschland,2022109
2,2632869468,14/10/2022,"Handgeschnitzte peruanische Weihnachtskugeln, ...",1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,12.99,Gaby Von Ahlen,Ruskastr. 24 B--%77966 Kappel-Grafenhausen%Deu...,2022108
3,2618364437,05/10/2022,Baby Alpaka Schal (100%) | Wollschal | Handgem...,1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,69.00,David Harder,Weseler Str. 5--%10318 Berlin%Deutschland,2022107
4,2616162769,03/10/2022,Alpaka Kinderpullover Dinosaurier | Strickpull...,1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,42.99,Bodden Ketter Doris,Peel 53A--%41179 Moenchengladbach%Deutschland,2022106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,3270829410,14/04/2024,"Dog collar XL wide 60 cm made of leather, neck...",1,PERRITO24 - 5 %,PERRITO24 - % off,2.15,0.0,0.00,0,42.99,Sebastian Palandt,Papagonenweg 4--%29525 Uelzen%Germany,20241048
237,3266458752,09/04/2024,"Hand-embroidered belt 110 cm long, hole length...",1,no coupon - 0 %,no coupon,0.00,0.0,16.49,0,49.99,Machteld Wery,Antonlaan 304--%3701Vg Zeist%The Netherlands,20241045
238,3259404505,07/04/2024,Carpet 210x171 handwoven from Peru heavy Fraza...,1,GLUECKUFUNDGRACIAS - 5 %,GLUECKUFUNDGRACIAS - % off,23.00,0.0,0.00,0,460.00,Claudia Quevedo,Marienburger Str. 48--%10405 Berlin%Germany,20241043
239,3259416982,02/04/2024,Handwoven Frazada cushion 45x45 cushion cover ...,1,SUPPORTSMALLBUSINESS - 5 %,SUPPORTSMALLBUSINESS - % off,3.00,0.0,0.00,0,60.00,Anke Schmidt,Kloevensteenweg 57--%22559 Hamburg%Germany,20241044
240,3258791212,01/04/2024,Vintage carpet 153x143 handwoven from Peru hea...,1,no coupon - 0 %,no coupon,0.00,0.0,16.49,0,265.00,Réjane Guyot,35 Résidence Du Moulin De Kérolet--%56890 Sain...,20241042

In [11]:
df_billing_table = df_w_bc
df_billing_table['delivery_address_'] = [x.split('%') for x in df_billing_table['delivery_address']]
df_billing_table['street_haus_number'] = [x[0] for x in df_billing_table['delivery_address_']]
df_billing_table['post_code_city'] = [x[1] for x in df_billing_table['delivery_address_']]
df_billing_table['country'] = [x[2] for x in df_billing_table['delivery_address_']]
df_billing_table.drop(columns=['delivery_address_','delivery_address'],inplace= True)
df_billing_table['year'] = [x[-4:] for x in df_billing_table['sale_date']]
df_billing_table['month'] = [x[3:5] for x in df_billing_table['sale_date']]
df_billing_table.head()

,order_id,sale_date,title,pieces,coupon,coupon_details,discount,delivery_discount,delivery,sales_tax,total_payment,sender,billing_number,street_haus_number,post_code_city,country,year,month
0,2638902086,19/10/2022,"Handgeschnitzte peruanische Weihnachtskugeln, ...",1,no coupon - 0 %,no coupon,0.0,0.0,0.0,0,14.99,Svenja Hasenjaeger,20221010,Lange Strase 90--,17489 Greifswald,Deutschland,2022,10
1,2634227880,15/10/2022,Alpaka Kinderpullover | Strickpullover | Pullo...,1,no coupon - 0 %,no coupon,0.0,0.0,0.0,0,44.99,Claudia Kessels-Lemmert,2022109,Luettelforst 321--,41366 Schwalmtal,Deutschland,2022,10
2,2632869468,14/10/2022,"Handgeschnitzte peruanische Weihnachtskugeln, ...",1,no coupon - 0 %,no coupon,0.0,0.0,0.0,0,12.99,Gaby Von Ahlen,2022108,Ruskastr. 24 B--,77966 Kappel-Grafenhausen,Deutschland,2022,10
3,2618364437,05/10/2022,Baby Alpaka Schal (100%) | Wollschal | Handgem...,1,no coupon - 0 %,no coupon,0.0,0.0,0.0,0,69.00,David Harder,2022107,Weseler Str. 5--,10318 Berlin,Deutschland,2022,10
4,2616162769,03/10/2022,Alpaka Kinderpullover Dinosaurier | Strickpull...,1,no coupon - 0 %,no coupon,0.0,0.0,0.0,0,42.99,Bodden Ketter Doris,2022106,Peel 53A--,41179 Moenchengladbach,Deutschland,2022,10

In [12]:
df_billing_table[(df_billing_table['coupon'].str.len() > 0)&(df_billing_table['delivery'] > 0)]
df_billing_table['price_per_piece'] = [x/y for x,y in zip(df_billing_table['total_payment'],df_billing_table['pieces'])]
#df_billing_table['delivery'].unique()

In [13]:
#create connction
conn_string = 'postgresql://postgres:PeruAlemania2022@localhost/finance'
db = create_engine(conn_string)
conn = db.connect()
conn

#insert df
df_billing_table.to_sql('billing_generator', con=conn, if_exists='replace', index=False)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()
conn.close()

### Create pdf

In [14]:
#d_grp = df_billing_table.groupby('order_id',as_index=False).agg({'title':'count','pieces':'sum','discount':'sum','delivery':'sum'})
#d_grp[(d_grp['discount']>0)&(d_grp['delivery']>0)]

In [15]:
df_pdf = df_billing_table#[df_billing_table['order_id'] == 2909298241]

In [16]:
df_pdf_order_details = df_pdf[['order_id','title', 'pieces', 'coupon', 'coupon_details',
       'discount', 'delivery_discount', 'delivery', 'sales_tax',
       'total_payment','price_per_piece']]
df_pdf_orders = df_pdf[['order_id', 'sale_date','sender', 'billing_number', 'street_haus_number',
       'post_code_city', 'country','year','month']]

In [17]:
df_pdf_order_details

,order_id,title,pieces,coupon,coupon_details,discount,delivery_discount,delivery,sales_tax,total_payment,price_per_piece
0,2638902086,"Handgeschnitzte peruanische Weihnachtskugeln, ...",1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,14.99,14.99
1,2634227880,Alpaka Kinderpullover | Strickpullover | Pullo...,1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,44.99,44.99
2,2632869468,"Handgeschnitzte peruanische Weihnachtskugeln, ...",1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,12.99,12.99
3,2618364437,Baby Alpaka Schal (100%) | Wollschal | Handgem...,1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,69.00,69.00
4,2616162769,Alpaka Kinderpullover Dinosaurier | Strickpull...,1,no coupon - 0 %,no coupon,0.00,0.0,0.00,0,42.99,42.99
...,...,...,...,...,...,...,...,...,...,...,...
236,3270829410,"Dog collar XL wide 60 cm made of leather, neck...",1,PERRITO24 - 5 %,PERRITO24 - % off,2.15,0.0,0.00,0,42.99,42.99
237,3266458752,"Hand-embroidered belt 110 cm long, hole length...",1,no coupon - 0 %,no coupon,0.00,0.0,16.49,0,49.99,49.99
238,3259404505,Carpet 210x171 handwoven from Peru heavy Fraza...,1,GLUECKUFUNDGRACIAS - 5 %,GLUECKUFUNDGRACIAS - % off,23.00,0.0,0.00,0,460.00,460.00
239,3259416982,Handwoven Frazada cushion 45x45 cushion cover ...,1,SUPPORTSMALLBUSINESS - 5 %,SUPPORTSMALLBUSINESS - % off,3.00,0.0,0.00,0,60.00,60.00
240,3258791212,Vintage carpet 153x143 handwoven from Peru hea...,1,no coupon - 0 %,no coupon,0.00,0.0,16.49,0,265.00,265.00

### returns

In [255]:
folder = r'C:\\Users\braul\\OneDrive\Desktop\\g&f\\processing_etsy_monthly_files\\downloads\\etsy_payment_sales\\'
file_names = os.listdir(folder)
lst_frames = []
for file_name in file_names:
    file = folder+file_name
    frame = pd.read_csv(file)
    lst_frames.append(frame)

pd.set_option('display.max_columns', None)

df_returns = pd.concat(lst_frames)
df_returns = df_returns[df_returns['Rückerstattungsbetrag']>0]
df_returns = df_returns[['Bestell-ID','Gebuchter Bruttobetrag','Rückerstattungsbetrag']]
df_returns

    Bestell-ID  Gebuchter Bruttobetrag  Rückerstattungsbetrag
0   2703224368                   34.19                  34.19
1   3072129724                   26.99                  26.99
4   3073655616                   60.00                  60.00
9   2904281702                   18.05                  18.05
0   2910376258                   44.48                  28.49
8   2924045303                   35.00                  35.00
2   3009312934                   34.04                  18.05
2   3164875763                   37.99                   9.50
3   3236943190                  200.00                 200.00
11  3247514668                   25.64                  25.64
12  3241354437                   25.64                  25.64

In [31]:
#get prperty data
f = open("shop_owner_data.json")
shop_owner_data = json.load(f)
shop_owner_data[0]['property_name']

'Marie Dittmer (Label Glueck & Fund),'

In [256]:
from reportlab.pdfgen import canvas
import textwrap

property_name = shop_owner_data[0]['property_name']
property_address = shop_owner_data[0]['property_address']
property_taxes = shop_owner_data[0]['property_taxes']
property_email = shop_owner_data[0]['property_email']

saludation = "Sehr geehrte Damen und Herren,"
thank_you = "vielen Dank für Ihren Auftrag und das damit verbundene Vertrauen!"
thank_you_text = "Hiermit stellen wir Ihnen folgende Leistungen in Rechnung:"

for index,row in df_pdf_orders.iterrows():
    newpath = r"G:\\My Drive\\Finance\\profit\\{year}".format(year=row['year'])
    if not os.path.exists(newpath):
        os.makedirs(newpath)
        
    file = r"{file_path}\\{order_id}_{file_name}.pdf".format(file_path=newpath,order_id=row['order_id'],file_name=row['billing_number'])  
    
    fileName = file
    #header
    pdf = canvas.Canvas(fileName)
    pdf.setTitle(row['billing_number'])
    pdf.drawString(30,800,property_name)
    pdf.drawString(30,780,property_address)
    pdf.drawString(30,760,property_taxes)
    pdf.drawInlineImage('logo.png',400,760, width=175,height=60)

    pdf.drawString(400,710,'Rechnungs-Nr.: {value}'.format(value=row['billing_number']))
    pdf.drawString(400,690,'Tag der Lieferung: {value}'.format(value=row['sale_date']))
    #buyer
    pdf.drawString(30,710,row['sender'])
    pdf.drawString(30,690,row['street_haus_number'].replace('--',''))
    pdf.drawString(30,678,row['post_code_city'])
    pdf.drawString(30,666,row['country'])
    #the thank you
    pdf.drawString(30,590,saludation)
    pdf.drawString(30,570,thank_you)
    pdf.drawString(30,558,thank_you_text)
    #payment
        #headers
    pdf.line(30,530,564,530)
    pdf.line(30,507,564,507) #392
    pdf.drawString(30,515,'Pos.') #400
    pdf.drawString(80,515,'Beschreibung')
    pdf.drawString(350,515,'Menge')
    pdf.drawString(400,515,'Einzelpreis')
    pdf.drawString(500,515,'Gesampreis')

    df_pdf_order_lines = df_pdf_order_details[df_pdf_order_details['order_id'] == row['order_id']]


        #values
    gesamtbetrag_net0_lst = []
    beginning_line = 490
    padding = 0
    pos = 1
    for index,row in df_pdf_order_lines.iterrows():
        pdf.setFontSize(10)
        pdf.drawString(30,beginning_line,str(pos))
        pdf.drawString(350,beginning_line,str(row['pieces']))
        pdf.drawString(400,beginning_line,str(row['price_per_piece']))
        pdf.drawString(500,beginning_line,str(row['total_payment']))
        pos = pos+1
        gesamtbetrag_net0_lst.append(row['total_payment']) 
            #item description
        textLines_lst = textwrap.wrap(row['title'], 50, break_long_words=False)
        for line in textLines_lst:
            pdf.drawString(80,beginning_line-padding,line)
            beginning_line = beginning_line - 15
        padding = 5

        #discount
    beginning_line = beginning_line-5
    for index,row  in df_pdf_order_lines.iterrows():
        if row['coupon_details'] != 'no coupon':
            pdf.drawString(500,beginning_line-padding,"-"+str(row['discount']))
            textLines_lst = textwrap.wrap(str(row['coupon']),50,break_long_words=False)
            gesamtbetrag_net0_lst.append(-row['discount']) 
            for line in textLines_lst:
                pdf.drawString(80, beginning_line-padding,line)
                beginning_line = beginning_line - 15
        else:
            pass

        #delivery
    for index,row in df_pdf_order_lines.iterrows():
        if row['delivery'] >0:
            pdf.drawString(80,beginning_line-padding,'Versand')
            pdf.drawString(500,beginning_line-padding,str(row['delivery']))
            beginning_line = beginning_line - 20
            gesamtbetrag_net0_lst.append(row['delivery']) 
        else:
            pass
        
        #partial retunrs
    returns = df_returns[df_returns['Bestell-ID']==row['order_id']]
    
    for index,row in returns.iterrows():
        try:
            pdf.drawString(80,beginning_line-5,'Zurückerstattet')
            pdf.drawString(500,beginning_line-5,str(-row['Rückerstattungsbetrag']))
            beginning_line = beginning_line - 20
            gesamtbetrag_net0_lst.append(-row['Rückerstattungsbetrag']) 
        except:
            pass       
    
    pdf.line(30,beginning_line,564,beginning_line)
    pdf.setFontSize(14)
    pdf.drawString(80,beginning_line-20,'Gesamtbetrag netto')
    pdf.setFontSize(10)
    pdf.drawString(500,beginning_line-20,str(round(sum(gesamtbetrag_net0_lst),2)))
    pdf.setFontSize(12)
    pdf.drawString(30,beginning_line-40,'nicht umsatzsteuerpflichtig nach §19 1 UStG')
    pdf.setFontSize(10)
    pdf.drawString(350,beginning_line-40,'0.00%')
    pdf.drawString(500,beginning_line-40,'0.00')
    pdf.setFontSize(14)
    pdf.drawString(80,beginning_line-60,'Gesamtbetrag brutto')
    pdf.drawString(500,beginning_line-60,str(round(sum(gesamtbetrag_net0_lst),2)))
    pdf.line(30,beginning_line-70,564,beginning_line-70)
    pdf.setFontSize(12)
    pdf.drawString(30,beginning_line-90,'Zahlungsbedingungen: Zahlung innerhalb von 14 Tagen ab Rechnungseingang ohne Abzüge.')

    pdf.drawString(30,beginning_line-140,'Viele Grüße')
    pdf.drawString(30,beginning_line-155,'Marie Dittmer')
         

    #footeer
    pdf.setFontSize(8)
    pdf.drawString(30,20,property_name)
    pdf.drawString(30,10,property_address)
    pdf.drawString(250,20,property_taxes)
    pdf.drawString(442,20,property_email)

    pdf.save()